/* Colores */
$color-neutro1: #b0bec5;
$color-neutro2: #424242;
$color-principal1: #000000;
$color-principal2: #ff0000;
$color-secundario: #ffffff;


/* Fuentes */
$font-montserrat-bold: 'Montserrat Bold', sans-serif;
$font-roboto-light: 'Roboto Light', sans-serif;


/* Tamaños */
$tamaño-iconos: 1.25rem;
$font-size-h1: 68px;
$font-size-h2: 40px;
$font-size-h3: 32px;
$font-size-h4: 24px;
$font-size-h5: 20px;
$font-weight-h: 700;
$width-container: 90%;
$padding-container: 1rem  2rem;
$width-img-desktop: 200px;
$width-img-mobile: 150px;
$height-img-desktop: 150px;
$height-img-mobile: 150px;


$padding-a-header: 1rem 2rem;

$border-radius: 10px;






